services:
  backend:
    build: .
    container_name: be-cms-project-kkn
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - private-net
    restart: unless-stopped

networks:
  private-net:
    external: true
