services:
  backend:
    build: .
    container_name: be-cms-project-kkn
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    restart: unless-stopped
